/* Estilos Gerais*/

body {
  font-family: Georgia, "Times New Roman", Times, serif, sans-serif;
}

p {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 100;
}
a:visited {
  color:#CDB984;
}

.btn {
  display: block;
  max-width: 160px;
  padding: 13px 40px;
  margin: 0 auto;
  background: #6b705c;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border: none;
  color: #ffe8d6;
  border-radius: 4px;
  
}


.btn:hover {
  color: #fff;
  border-color: #6b705c;
}

/*header*/
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #000;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header_menu {
  text-align: right;
}
.header_menu ul li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 15px;
}
.header_menu ul li a {
  color: #b7b7a4;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 14px;
  line-height: 20px;
  padding: 10 0;
}

.header_menu ul li a:hover {
  color: #ffe8d6;
}
/*Indroducao*/

.introducao {
  width: 100%;
  background: #231f20;
  background-size: cover;
  margin-top: px;
  text-align: center;
  padding: 80px 2em;
}
.introducao h1 {
  font-size: 60px;
  color: #fff;
  font-weight: italic;
  text-transform: uppercase;
}
.introducao img {
  display: block;
  width: 60%;
  margin: 0 auto;
}
.quote-externo {
  max-width: 360px;
  margin: 0 auto;
  color: #fff;
}
.quote-externo p {
  font-style: italic;
}

.quote-externo p:before {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: #fff;
  margin: 10px auto;
  margin-bottom: 20px;
}

/*Trenchos da história */

.historia {
  background-color: #231f20;
  padding: 160px;
}
.content {
  border:  3px solid #efcea5;
  position: relative;
  padding: 60px 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.content::after {
  content: "";
  display: block;
  width: 300px;
  height: 100px;
  background: #231f20;
  position: absolute;
  top: -60px;
  left: 35.5%;
}
.content div {
  color: #fff;
}
.content p {
  line-height: 2;
}

.item1 {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: 1rem;
}
.item1 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}
.item1 {
  color: #efcea5;
}

.item2 {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
}

.dourado {
  color: #efcea5;
}
.habilits {
  margin: 150px 200px ;
  font-size: 45px;
  color: #fff;
  font-weight: italic;
  text-transform: uppercase;
}
.quote-externo p:before {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: #fff;
  margin: 10px auto;
  margin-bottom: 20px;
}

.habilidade {
  display: flex;
  flex-direction: column;
}

.habilidade div {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

.habilidade h2 {
  text-transform: uppercase;
  text-transform: capitalize;
  text-transform: none;
  color: #fff;
}
.habilidade p {
  color: #fff;
  text-align: left;

}
/*Quebra*/

.quebra {
  width: 100%;
  height: 80px;
  background: url(../imagens/Akali\ roda\ pe..jpg) no-repeat center;
  background-size: cover;
  text-align: center;
  padding-top: 30px;
  color: #f8f8ff;
}

/*Footer*/

.footer {
  width: 100%;
  background: #231f20;
  color: #9e9498;
  padding: 10px;
}

.footer h3 {
  font-size: 18px;
  line-height: 25px;
  color: #6b705c;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.footer h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #6b705c;
  margin: 6px 0 10px 0;
}

.footer_historia {
  padding-right: 40px;
}

.footer_historia p{
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 400px;
  font-size: 12px ;
}

.footer_contato ul li {
  font-family:'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight:400px;
  line-height: 15px;
}

.footer_rede ul li {
  display: inline-block;
  margin-right: 12px;
}

.footer_rede ul li a {
  display: block;
}

.footer_rede ul li a:hover {
  border-color: #fff;
}

.copy {
  width: 100%;
  background: #6b705c;
  padding: 10px 0;
}

/*Pagina skins */

.galeria_skin {
  margin: 96px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.galeria_skin h2 {
  margin: 10px ;
  color: #efcea5;
}

/*História*/

.historia_texto p {
  font-size: 18px;
  letter-spacing: 1.8px;
  line-height: 1.8;
  text-align: left;
  color: #f4edee;
  padding: 3.5rem;
}
.historia_texto h1 {
  padding: 45px 0;
  font-size: 45px;
  color: #e0c19a;
  font-weight: italic;
  text-transform: uppercase;
}
.historia_texto h2 {
  padding-bottom: 20px;
  font-size: 20px;
  color: #efcea5;
}
.historia_texto {
  margin-top: 0px;
}
.contente {
  margin-top: 40px;
  border: 2px solid #efcea5;
  position: relative;
  padding: 60px 4rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}
.contente::after {
  content: "";
  display: block;
  width: 300px;
  height: 100px;
  background: #231f20;
  position: relative;
  top: -60px;
  left: 35.5%;

}


/*combos*/

.videos {
padding-bottom: 50px ;
}

.videos h2 {
  color:#C3CD9F;
  text-align: justify;
  margin-left: 150px;
  margin-top: 150px;
  margin-bottom: 25px;  
  font-family: Georgia, "Times New Roman", Times, serif, sans-serif;
    font-size: 25px;
  line-height: 15px;
  font-weight: bold;
}


.combos_icones ul {
display: flex;
justify-content: center;
align-items: center;
gap: 0.2rem;
margin-top: 15px;
}


.combos_icones img {
  width: 45px;
  margin:auto;
  
  }

.combos_icones p {
color:#fff;
margin-top: 15px;
margin-left: 3px;

}
